.navbar{
    background: linear-gradient(to bottom, rgba(221, 140, 27, 0.7) 90%,rgba(125,185,232,0) 100%);;
    filter: contrast(120%);
    margin: 0;
    padding: 10px;

    border-radius: 0;
    border: none;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: rgb(75, 52, 32);
}