.wrapper {
    background: url('/../assets/img/desert-canyon-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    text-align: center;
    margin-top: -80px;
    padding-top: 80px;
  }

  .container{
    background: wheat;
  }







  .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
  }

.map1{background-image:url('/../assets/img/map1.jpg');}
.map2{background-image:url('/../assets/img/map1.jpg');}
.map3{background-image:url('/../assets/img/map1.jpg');}

.cc-selector input:active +.maps-style{opacity: .9;}
.cc-selector input:checked +.maps-style{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.maps-style{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:200px;height:302px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.maps-style:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.map-container{
  display: inline-block;
}


button{
  background: url('./../../../../assets/img/brown-ppt-background-5.jpg');
  margin-top: 150px;
  padding: 5px 30px 5px 30px;
  color: white;
  font-family: 'Chelsea Market';
  font-size: 18pt;
  border-radius: 10px;
  border: none;
  box-shadow:0px 0px 34px 3px rgba(0,0,0,0.52);
  transition: all 0.5s;
  outline: none;
}

button:hover{
  box-shadow: 0px 0px 109px 3px rgba(255,140,0,1);
  filter: contrast(150%);
  outline: none;
}